<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.infoplatform">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".chx_EvaluateUs" />
        <activity android:name=".chx_FindUs" />
        <activity android:name=".chx_ContactUs" />
        <activity android:name=".chx_KnowUs" />
        <activity android:name=".chx_AboutUs" />
        <activity android:name=".chx_UserType" />
        <activity android:name=".chx_PreventionAndControlOrganization" />
        <activity android:name=".chx_PlantProtectionUnit" />
        <activity android:name=".chx_Growers" />

        <activity android:name=".NotAnnouncedNotice" />
        <activity android:name=".AnnouncedNotice" />
        <activity android:name=".RevokedNotice" />
        <activity android:name=".NoticeType" />
        <activity android:name=".STAType" />
        <activity android:name=".STA_Organization" />
        <activity android:name=".STA_Area" />
        <activity android:name=".STA_AllData" />

        <activity android:name=".BlockInfo" />
        <activity android:name=".SearchBlockInfo" />
        <activity android:name=".Block_detailed_info" />
        <activity android:name=".AddBlockInfo" />
        <activity android:name=".JoInfo" />
        <activity android:name=".SearchJoInfo" />
        <activity android:name=".Jo_detailed_info" />
        <activity android:name=".AddJoInfo" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>